<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>All Details</title>
</head>
<body>

<div class="form-container">
        <form action="/register" method="post" id="contactForm" class="form">
            <h2>All Details Page</h2>
            <input type="text" name="fullname" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email Address" required>
            <input type="number" name="phone" placeholder="Phone Number" required>
             <select name="option" required>
                            <option value=""disabled selected>Choose Training Type...</option>
                            <option>Front-end Web Development</option>
                            <option>Php Full Stack Development</option>
                            <option>Mern Stack Development</option>
                            <option>Android and IOS Development</option>
                            <option>Digital Marketing</option>                  
            </select>
            <textarea name="message" rows="4" placeholder="Message"></textarea>
          

            <div class="transparent-border-blue">
                <button type="submit" value="register" id="sendButton">Send Message</button>
            </div>
        </form>
</div>
<script src="/public/css/index.js"></script>
</body>
</html>
