<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
</head>
<body>
    <header class="login-header">
  <h1>Login</h1>
  <a href="index.hbs" class="back-link">Click for Login</a>
</header>
</body>
</html>